@charset "utf-8";

.navegacao{
	height: 80px;
	margin-left: 60px;
	margin-right: 60px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 3px solid lightgray;
}

.navegacao__lista{
	list-style-type: none;

	padding: 0;
	display: flex;
	gap: 30px;
}

.link{
	text-decoration: none;
	color: black;
}

.link:hover{
	color: darkgrey;
}




