@charset "utf-8";

.tarefa{
	height: 71vh;
	background-image: url("../img/cadastrousuario.jpg");
  	background-size: 99vw auto;
  	background-repeat: no-repeat;
  	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;
}

.formularioT{
	width: 400px;

	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	border: 1px solid #696969;
	border-radius: 8px;
	box-sizing: border-box;
}

.inputStyleT{
	background-color: rgba(255, 255, 255, 0);
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	font-size: 1em;
}

.textStyleT{
	font-size: 1em;
}

.camposObrigatoriosT{
	margin: 0;
	font-size: 0.9em;
}